.phrase {
  font-size: 20px;
}

.phrase-tall {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.phrase-with-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2rem;
}

.allPhrasesFrame {
  /* display: flex;
  flex-direction: column; */
  margin-left: 15%;
  margin-right: 15%;
}

.phraseList {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: lightseagreen;
  border-width: 3px;
  border-radius: 1rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.addPhraseFrame {
  border-style: solid;
  border-color: lightseagreen;
  border-width: 3px;
  border-radius: 1rem;
  padding-left: 3rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.addPhraseFrameWithValidation {
  border-style: solid;
  border-color: lightseagreen;
  border-width: 3px;
  border-radius: 1rem;
  padding-left: 3rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.addPhraseLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.addPhraseValidation {
  color: crimson;
  margin-top: .5rem;
}

.colorSelectionBar {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.expandedColorSelectionBar {
  justify-content: space-between;
}

.plusButtonFrame {
  margin-top: 2rem;
}

.plusButton {
  font-size: 24px;
  width: 35px;
  height: 35px;
  color: aliceblue;
  background-color: teal;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
  border-radius: .5rem;
  border-style: none;    /* para anular el borde que le pone el elemento button */
}
