.containerPrueba {
  text-align: left;
}

.phraseAuthorBlockPrueba {
  align-items: center;
  margin-bottom: 2rem;
}

.phraseAuthorInfoFramePrueba {
  padding-left: 2rem;
  padding-right: 2rem;
}

.phraseGroupFramePrueba {
  padding-left: 2rem;
  padding-right: 2rem;
}
